name: workflow.yml

on:
  push:
    branches:
      - main

jobs:
  build:
    name: "build module"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    strategy:
      matrix:
        version: [ release-1.28.*, release-1.29.* ]
    steps:
      - name: Get latest release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASES=$(curl -s \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/nginx/nginx/releases)

          TAG=$(echo "$RELEASES" | jq -r 'first(.[] |  select(.tag_name|test("${{ matrix.version }}"))) | .tag_name')
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Checkout nginx repository
        uses: actions/checkout@v6
        with:
          repository: nginx/nginx
          path: nginx
          ref: ${{ steps.release.outputs.tag }}

      - name: Checkout ngx_http_geoip2_module repository
        uses: actions/checkout@v6
        with:
          repository: leev/ngx_http_geoip2_module
          path: ngx_http_geoip2_module

      - name: Checkout headers-more-nginx-module repository
        uses: actions/checkout@v6
        with:
          repository: openresty/headers-more-nginx-module
          path: headers_more_nginx_module

      - name: Checkout redis2-nginx-module repository
        uses: actions/checkout@v6
        with:
          repository: openresty/redis2-nginx-module
          path: redis2-nginx-module

      - name: "Make plugins"
        run: |
          sudo add-apt-repository -y ppa:maxmind/ppa
          sudo apt update
          sudo apt install libmaxminddb0 libmaxminddb-dev mmdb-bin

          cd nginx/
          ls -ls
          ./auto/configure --with-compat \
            --add-dynamic-module=../redis2-nginx-module \
            --add-dynamic-module=../headers_more_nginx_module \
            --add-dynamic-module=../ngx_http_redis
          make modules
          ls -ls objs/

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.release.outputs.tag }}
          path: |
            nginx/objs/ngx_http_headers_more_filter_module.so
            nginx/objs/ngx_http_geoip2_module.so

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          set-safe-directory: 'false'

      - uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: ${{ steps.release.outputs.tag }}
          force_push_tag: true
          message: "nginx ${{ steps.release.outputs.tag }}"

      - uses: actions/download-artifact@v7
        with:
          name: ${{ steps.release.outputs.tag }}
      - name: Display structure of downloaded files
        run: ls -R

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.release.outputs.tag }}
          make_latest: false
          files: |
            ngx_http_geoip2_module.so
            ngx_http_headers_more_filter_module.so
