name: workflow.yml

on:
  push:
    branches:
      - main

jobs:
  "download":
    name: "download"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout nginx repository
        uses: actions/checkout@v6
        with:
          repository: nginx/nginx
          path: nginx

      - name: Checkout ngx_http_geoip2_module repository
        uses: actions/checkout@v6
        with:
          repository: leev/ngx_http_geoip2_module
          path: ngx_http_geoip2_module

      - name: Checkout ngx_http_geoip2_module repository
        uses: actions/checkout@v6
        with:
          repository: openresty/headers-more-nginx-module
          path: headers_more_nginx_module

      - name: "Run console log"
        run: |
          sudo add-apt-repository -y ppa:maxmind/ppa
          sudo apt update
          sudo apt install libmaxminddb0 libmaxminddb-dev mmdb-bin

          cd nginx/
          ls -ls
          ./auto/configure --with-compat --add-dynamic-module=../ngx_http_geoip2_module --add-dynamic-module=../headers_more_nginx_module
          make modules
          cd objs/
          ls -ls
