name: workflow.yml

on:
  push:
    branches:
      - main

jobs:
  "download":
    name: "download"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "Run console log"
        run: |
          sudo add-apt-repository -y ppa:maxmind/ppa
          sudo apt update
          sudo apt install libmaxminddb0 libmaxminddb-dev mmdb-bin
          wget https://github.com/nginx/nginx/releases/download/release-1.29.5/nginx-1.29.5.tar.gz
          wget https://github.com/leev/ngx_http_geoip2_module/archive/refs/heads/master.zip -o ngx_http_geoip2_module.tar.gz
          tar zxvf nginx-1.29.5.tar.gz
          tar ngx_http_geoip2_module.tar.gz
          cd nginx-1.29.5
          ./configure
